/* ver https://animate.style/ */ 

body{
    background-color: bisque;
}





/*


      ██       ██  ██████  ██████  ███    ██  ██████  ███████       ██       
       ██      ██ ██      ██    ██ ████   ██ ██    ██ ██           ██        
█████   ██     ██ ██      ██    ██ ██ ██  ██ ██    ██ ███████     ██   █████ 
       ██      ██ ██      ██    ██ ██  ██ ██ ██    ██      ██      ██        
      ██       ██  ██████  ██████  ██   ████  ██████  ███████       ██       
                                                                             
                                                                             
*/


/* formato de los iconos*/
i{
    width:250px;
    color:white;
}


/*


██████  ███████ ███████ ██ ███    ██ ██ ██████       █████  ███    ██ ██ ███    ███  █████   ██████ ██  ██████  ███    ██ 
██   ██ ██      ██      ██ ████   ██ ██ ██   ██     ██   ██ ████   ██ ██ ████  ████ ██   ██ ██      ██ ██    ██ ████   ██ 
██   ██ █████   █████   ██ ██ ██  ██ ██ ██████      ███████ ██ ██  ██ ██ ██ ████ ██ ███████ ██      ██ ██    ██ ██ ██  ██ 
██   ██ ██      ██      ██ ██  ██ ██ ██ ██   ██     ██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██ ██      ██ ██    ██ ██  ██ ██ 
██████  ███████ ██      ██ ██   ████ ██ ██   ██     ██   ██ ██   ████ ██ ██      ██ ██   ██  ██████ ██  ██████  ██   ████ 
                                                                                                                                                                                                                                            

*/

@keyframes subir {
    from { top:50px; color:red}   /*INICIO:   ubicacion y color*/
    to{top:250px; color:white}        /*FIN:      ubicacion y color*/
}


/*


███████ ███████      █████  ███████ ██  ██████  ███    ██  █████  
██      ██          ██   ██ ██      ██ ██       ████   ██ ██   ██ 
███████ █████       ███████ ███████ ██ ██   ███ ██ ██  ██ ███████ 
     ██ ██          ██   ██      ██ ██ ██    ██ ██  ██ ██ ██   ██ 
███████ ███████     ██   ██ ███████ ██  ██████  ██   ████ ██   ██ 
                                                                  
                                                                  
*/


/* formateo individualizado de icono */
#astronauta{
    position:absolute;
    left:200px;

    /*SE ASIGNA ANIMACIÓN*/ 
        /*animation-name:mover;
        animation-duration:5s;
        */
    /*SE ASIGNA ANIMACIÓN*/ 
    animation: subir 5s infinite reverse;
   /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    }
 

/*


██████  ███████ ███████ ██ ███    ██ ██ ██████       █████  ███    ██ ██ ███    ███  █████   ██████ ██  ██████  ███    ██ 
██   ██ ██      ██      ██ ████   ██ ██ ██   ██     ██   ██ ████   ██ ██ ████  ████ ██   ██ ██      ██ ██    ██ ████   ██ 
██   ██ █████   █████   ██ ██ ██  ██ ██ ██████      ███████ ██ ██  ██ ██ ██ ████ ██ ███████ ██      ██ ██    ██ ██ ██  ██ 
██   ██ ██      ██      ██ ██  ██ ██ ██ ██   ██     ██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██ ██      ██ ██    ██ ██  ██ ██ 
██████  ███████ ██      ██ ██   ████ ██ ██   ██     ██   ██ ██   ████ ██ ██      ██ ██   ██  ██████ ██  ██████  ██   ████ 
                                                                                                                                                                                                                                            

*/


/* primero se crea la animación y luego se asigna */
@keyframes aparecer {
    from { opacity: 0;}
    to{opacity: 1; }
}


/* primero se crea la animación y luego se asigna */
@keyframes cambiodecolor {
    0%{color:black;}
    25%{color:red;}
    50%{color:greenyellow;}
}


/*


███████ ███████      █████  ███████ ██  ██████  ███    ██  █████  
██      ██          ██   ██ ██      ██ ██       ████   ██ ██   ██ 
███████ █████       ███████ ███████ ██ ██   ███ ██ ██  ██ ███████ 
     ██ ██          ██   ██      ██ ██ ██    ██ ██  ██ ██ ██   ██ 
███████ ███████     ██   ██ ███████ ██  ██████  ██   ████ ██   ██ 
                                                                  
                                                                  
*/


/* formateo individualizado de icono */
#satelite{
    /*SE ASIGNA ANIMACIÓN*/ 
     animation-name:cambiodecolor,aparecer;
     animation-duration:5s,2s;
     animation-delay:7s,3s;
}


/*


      ██       ███    ███ ███████ ███    ██ ██    ██       ██       
       ██      ████  ████ ██      ████   ██ ██    ██      ██        
█████   ██     ██ ████ ██ █████   ██ ██  ██ ██    ██     ██   █████ 
       ██      ██  ██  ██ ██      ██  ██ ██ ██    ██      ██        
      ██       ██      ██ ███████ ██   ████  ██████        ██       
                                                                    
 
*/


ul li {
    display: inline;
    padding: 10px;
    background-color: black;
    color:white;
    cursor:pointer;
}

/*


██████  ███████ ███████ ██ ███    ██ ██ ██████       █████  ███    ██ ██ ███    ███  █████   ██████ ██  ██████  ███    ██ 
██   ██ ██      ██      ██ ████   ██ ██ ██   ██     ██   ██ ████   ██ ██ ████  ████ ██   ██ ██      ██ ██    ██ ████   ██ 
██   ██ █████   █████   ██ ██ ██  ██ ██ ██████      ███████ ██ ██  ██ ██ ██ ████ ██ ███████ ██      ██ ██    ██ ██ ██  ██ 
██   ██ ██      ██      ██ ██  ██ ██ ██ ██   ██     ██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██ ██      ██ ██    ██ ██  ██ ██ 
██████  ███████ ██      ██ ██   ████ ██ ██   ██     ██   ██ ██   ████ ██ ██      ██ ██   ██  ██████ ██  ██████  ██   ████ 
                                                                                                                                                                                                                                            

*/

/* animación de crecimiento */
/* primero se crea la animación y luego se asigna */
@keyframes menu {
    0%{
        padding:10px;
        background-color: blue;
        color:red;
    }
    100%{
        padding:20px;
        background-color: yellow;
        color:black;  
        border-radius:30px;
        font-size:20px;
    }
}

/*


███████ ███████      █████  ███████ ██  ██████  ███    ██  █████  
██      ██          ██   ██ ██      ██ ██       ████   ██ ██   ██ 
███████ █████       ███████ ███████ ██ ██   ███ ██ ██  ██ ███████ 
     ██ ██          ██   ██      ██ ██ ██    ██ ██  ██ ██ ██   ██ 
███████ ███████     ██   ██ ███████ ██  ██████  ██   ████ ██   ██ 
                                                                  
                                                                  
*/

/*SE ASIGNA ANIMACIÓN*/ 
ul li:hover{
animation-name: menu;
animation-duration:1s;
animation-iteration-count:infinite;
}