
.cyan{
    color:white;
    background-color:rgb(52, 175, 175);
}

.grisOscuro{
    background-color: #353A40;
}

img{
    width: 100%;
}
.nav-link {
    color:grey;
}
.nav-pills .nav-link.active{
    background-color: #353A40;
}

#logoTexto{
 
}
#ticketVerde{
    color:green;
}
#colorBoton{
    background-color: #96C93E;
    border-color:#96C93E;
}
#colorFooter{
    background-color:#1D3947;
}
.container-fluid{
    padding-right:0px;
    padding-left:0px;
}

#imagenHonolulu{
    padding-right:0px;
}